@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#D5F3FF, #5184E8);
    background-repeat: no-repeat;
}

.container{
    width: 600px;
    height: 500px;
    background-color: #b7f8f5;
    border-radius: 50px;
}